@import 'tailwindcss';

* {
	scroll-behavior: smooth;
}

.hero {
	background: 'radial-gradient(125% 125% at 50% 10%, #fff 40%, #6366f1 100%)';
}

@custom-variant dark (&:is(.dark, .dark *));

/*@media (prefers-color-scheme: dark) {*/
/*	:root {*/
/*		--background: 35, 38, 42;*/
/*		--foreground: 161, 161, 161;*/
/*		--card: 38, 38, 38;*/
/*		--card-foreground: 248, 250, 252;*/
/*		--popover: 0 0% 3.9%;*/
/*		--popover-foreground: 0 0% 98%;*/
/*		--primary: 0, 208, 201;*/
/*		--primary-foreground: 16, 25, 35;*/
/*		--secondary: 0, 168, 165;*/
/*		--secondary-foreground: 0 0% 98%;*/
/*		--muted: 0 0% 14.9%;*/
/*		--muted-foreground: 0 0% 63.9%;*/
/*		--accent: 0 0% 14.9%;*/
/*		--accent-foreground: 0 0% 98%;*/
/*		--destructive: 0 62.8% 30.6%;*/
/*		--destructive-foreground: 0 0% 98%;*/
/*		--border: 0 0% 14.9%;*/
/*		--input: 0 0% 14.9%;*/
/*		--ring: 0 0% 83.1%;*/
/*		--chart-1: 220 70% 50%;*/
/*		--chart-2: 160 60% 45%;*/
/*		--chart-3: 30 80% 55%;*/
/*		--chart-4: 280 65% 60%;*/
/*		--chart-5: 340 75% 55%;*/
/*	}*/
/*}*/

@theme {
	--font-sans: DM Sans, ui-sans-serif, system-ui, sans-serif;
	--font-display: Raleway, ui-sans-serif, system-ui, sans-serif;

	--color-background: rgb(var(--background));
	--color-foreground: rgb(var(--foreground));

	--color-primary-foreground: rgb(var(--primary-foreground));
	--color-primary: rgb(var(--primary));

	--color-secondary: rgb(var(--secondary));
	--color-secondary-foreground: hsl(var(--secondary-foreground));

	--color-card: hsl(var(--card));
	--color-card-foreground: hsl(var(--card-foreground));

	--color-popover: hsl(var(--popover));
	--color-popover-foreground: hsl(var(--popover-foreground));

	--color-muted: hsl(var(--muted));
	--color-muted-foreground: hsl(var(--muted-foreground));

	--color-accent: hsl(var(--accent));
	--color-accent-foreground: hsl(var(--accent-foreground));

	--color-destructive: hsl(var(--destructive));
	--color-destructive-foreground: hsl(var(--destructive-foreground));

	--color-border: hsl(var(--border));
	--color-input: hsl(var(--input));
	--color-ring: hsl(var(--ring));

	--color-chart-1: hsl(var(--chart-1));
	--color-chart-2: hsl(var(--chart-2));
	--color-chart-3: hsl(var(--chart-3));
	--color-chart-4: hsl(var(--chart-4));
	--color-chart-5: hsl(var(--chart-5));

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@utility footer-socials {
	@apply transition rounded-full p-2.5 bg-[rgba(0,128,128,0.45)] hover:bg-[rgba(0,128,128,0.65)] border border-primary;
}

@utility feature-card {
	@apply hover:shadow-xs hover:shadow-primary pointer-events-none transition;
}

@utility feature-card-icon {
	@apply border border-primary/60 bg-primary/25 text-primary rounded-full p-2.5 flex max-w-max mb-2;
}

@utility main-container {
	@apply container flex flex-col flex-1 max-w-7xl mx-auto max-md:px-4 md:px-6 mt-4;
}

@utility nav-container {
	@apply w-full flex max-w-7xl mx-auto max-md:px-4 md:px-6 py-2.5 justify-between;
}

@layer base {
	:root {
		--radius: 0.5rem;
		--background: 250, 250, 250;
		--foreground: 18, 18, 18;
		--card: 245, 245, 245;
		--card-foreground: 2, 6, 24;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 0, 128, 128;
		--primary-foreground: 249, 250, 251;
		--secondary: 0, 102, 102;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 245, 245, 245;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	* {
		@apply m-0 p-0;
	}
	body {
		@apply bg-background text-foreground/65 font-sans antialiased;
	}
	h1 {
		@apply scroll-m-20 text-4xl md:text-6xl font-extrabold tracking-tight lg:text-5xl text-foreground;
	}
	h2 {
		@apply scroll-m-20 border-b pb-2 text-3xl font-bold uppercase tracking-tight first:mt-0 text-foreground;
	}
	h3 {
		@apply scroll-m-20 text-2xl font-bold uppercase tracking-[-0.0125em] text-foreground/95;
	}
	h4 {
		@apply scroll-m-20 text-xl font-bold tracking-normal text-foreground/85;
	}
	h5 {
		@apply scroll-m-20 text-lg font-semibold text-foreground/80;
	}
	p {
		@apply leading-7 not-first:mt-6 text-foreground/65;
	}
	blockquote {
		@apply mt-6 border-l-2 pl-6 italic;
	}
	ul {
		@apply my-6 ml-6 list-disc [&>li]:mt-2;
	}
	.dark {
		--background: 35, 38, 42;
		--foreground: 161, 161, 161;
		--card: 38, 38, 38;
		--card-foreground: 248, 250, 252;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0, 208, 201;
		--primary-foreground: 16, 25, 35;
		--secondary: 0, 168, 165;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}
